* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}
a {
  text-decoration: none;
  color: #fff;
  
}
i {
  font-size: 2rem;
}
html {
  font-family: "Open Sans", sans-serif;
}
body{
  color: #fff;
  background: linear-gradient(to right, #062e51 31%, #336ea2 100%);
}




/* Navbar Section */
#navbar {
  color: #fff;
  background: linear-gradient(to right, #062e51 31%, #336ea2 100%);
  
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 0.75rem;
  height: 70px;
}
#navbar ul {
  list-style-type: none;
  display: flex;
  align-items: center;
}
#navbar ul li a {
  padding: 1rem;
}

.navbar_item:hover{
  cursor: pointer;
  background: #336ea2;
  border-radius: 4px;
  padding: 8px;
  transform:scale(1.1);
  transition-duration: 300ms;
}



/* Table */

.tables {
  display: flex;
  flex-direction: column;

 }

 

#groups_id{
  display: none;/* flex */
  flex-direction: column;
  align-items: center;transition: all;
  transition-duration: 1000ms;

  background: rgb(51,110,162);
  background: linear-gradient(94deg, rgba(51,110,162,1) 0%, rgba(0,0,0,1) 35%, rgba(0,0,0,1) 65%, rgba(51,110,162,1) 100%);
  
}

.group{
  display: flex;
  flex-direction: column;
  /*
  border-bottom: solid 2px ;
  border-radius: 50px; */
  color: black;

}

.table_bg{
  background: rgb(51,110,162);
  background: linear-gradient(94deg, rgba(51,110,162,1) 0%, rgba(0,0,0,1) 35%, rgba(0,0,0,1) 65%, rgba(51,110,162,1) 100%);
  color: black;

}

#super_league_games_table{
  display: none;
  /* spave between yapamadım */
  align-items: center;
}

#super_league_table{
  display: none;
  align-items: center;
}


#nba_table{
  display: none;
  align-items: center; 
}

#hockey_table{
  display: none;
  align-items: center; 
}





.stable table{
	margin: 30px auto; /* 30px auto */
	border-collapse: collapse;
  background-color: #000000;
  transition: all;
  transition-duration: 1000ms;
}

.stable{
	margin: 0px 0% 30px 0%; /* 0 0 30px 0*/
}

th, td {
    padding: 1rem;
}

th{
	background-color: black;
	color: #ffffff;
}

.table_header{
	text-align: center;
	text-decoration: none;
	color: #ffffff;
	margin: 20px; /* 30px*/
	display: block;

}

.league_header{
  cursor: pointer;
  padding-top: 3rem;
  padding-bottom: 3rem;
  border-right: 8px solid #2a5f8d;
  border-left: 8px solid #2a5f8d;
  border-radius: 0px;
  text-shadow: 3px 3px #000000;
  transition: all 0.5s;
  /*border-bottom: 20px #2a5f8d solid;*/

}

.league_header:hover{
  border-bottom-color: #336ea2;
  /*transform: scale(1.1);*/
  transform: scale(1.05);
  /*
  padding-top: 3rem;
  padding-bottom: 8rem;*/


}

#champions_league_header_id{
  background-image: url("/images/football1.jpg");
}

#super_league_header_id{
  background-image: url("/images/football2.jpg");


}
#super_league_games_header_id{
  background-image: url("/images/football3.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

#nba_header_id{
  background-image: url("/images/basketball.jpg");
}

#hockey_header_id{
  background-image: url("/images/hockey.jpg");

}

.stable_row{
	text-align: center;
}

.stable_row td{
	color: #ffffff;
}

.stable_row_end{
	text-align: center;
}

.stable_row_end td{
	color: rgb(255, 255, 255);
}



table .col{
	border-bottom: 1px solid #FFFFFF;
}

#nba_col{
  background-color: red;
}

.stable_row:hover{
	background-color: #336ea2;
}

.stable_row:hover td{
	color: #000000;
}

.stable_row_end:hover{
	background-color: rgb(255, 255, 255);
}

.stable_row_end:hover td{
	color: #000000;
}

/* comments */

.comment_row{
  color: white;
  width: 100%;
  background-color: #2a5f8d;
 
}
.comment_table_row{
  width: 100%; 
}

#comments{
  border: 2px solid white;
  border-radius: 2px;
  padding: 20px;
  cursor: pointer;
  background-color: #2a5f8d; 
  transition-duration: 0.4s;

}

#comments:hover{
  background-color: #336ea2; 
}

.comment_label{
  display: inline-flex;
  margin: 10px;
  width: 200px;

}
.comment_input{
  display: inline-flex;
  margin-left: 10px;

  
}
#submit_button {
  width: 173px;
  height: 100px;
  margin: 10px;
  transition-duration: 0.4s;
}
#submit_button:hover {
  background-color: #2a5f8d; 
  color: white;
}